<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Routes de la Api</h1>
    <table>
        <thead>
            <tr>
                <th>Get all</th>
                <th>Get info</th>
                <th>Post</th>
                <th>Delete</th>
                <th>Put</th>
            </tr>
            <tbody>
                <tr>
                    <th>
                        <ul>
                            <li><a href="administradores">/administradores</a></li>
                            <li><a href="ventas">/ventas</a></li>
                            <li><a href="productos">/productos</a></li>
                            <li><a href="gastosoinversion">/gastosoinversion</a></li>
                            <li><a href="fotos">/fotos</a></li>
                        </ul>
                    </th>
                    <th>
                        <ul>
                            <li>/administrador/:id</li>
                            <li>/venta/:id</li>
                            <li>/producto/:id</li>
                            <li>/gastooinversion/:id</li>
                            <li>/foto/:id</li>
                        </ul>
                    </th>
                    <th>
                        <ul>
                            <li>/administrador/</li>
                            <li>/venta</li>
                            <li>/producto</li>
                            <li>/gastooinversion</li>
                            <li>/foto</li>
                        </ul>
                    </th>
                    <th>
                        <ul>
                            <li>/administrador/:id</li>
                            <li>/venta/:id</li>
                            <li>/producto/:id</li>
                            <li>/gastooinversion/:id</li>
                            <li>/foto/:id</li>
                        </ul>
                    </th>
                    <th>
                        <ul>
                            <li>/administrador/:id</li>
                            <li>/venta/:id</li>
                            <li>/producto/:id</li>
                            <li>/gastooinversion/:id</li>
                        </ul>
                    </th>
                </tr>
            </tbody>
        </thead>
    </table>
    
    
</body>
</html>